.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: slategrey;//rgba(59, 68, 110, 0.89);
  
    .title {
      font-size: 28px;
      font-weight: bold;
      color: powderblue;
      margin-top: 35px;
      margin-bottom: 35px;
    }
  
    .table {
      width: 50%;
      height: auto;
      border: 2px solid lightsteelblue;
      //box-shadow: 10px 10px 10px darkslategray;

      th, td {
        text-align: center;
        border: 2px solid lightsteelblue;
        color: lightgray;
        padding: 5px;
      }

      th {
        font-size: 18px;
        color: lightskyblue
      }
      
      .see-landmarks, .delete-action, .edit-action {
        cursor: pointer;
      }
    }

    .add-button, .logout-button, .redirect {
      margin-top: 30px;
      font-size: 14px;
      padding: 5px;
      font-weight: bold;
      color: midnightblue;
      border-width: 3px;
      border-color: steelblue;
      background-color: cornflowerblue;
      border-radius: 6px;
      cursor: pointer;
    }

    .redirect {
      margin-top: 10px;
    }

    // .mat-column-id {
    //   border-right: 2px solid currentColor;
    //   padding-right: 24px;
    // }
  
  }
  