.container {
    font-size: 18px;

    h1 {
        font-size: 28px;
        margin: 20px;
    }

    button {
        margin: 20px;
    }

    p {
        margin-bottom: 5px;
    }
      
    li {
        margin-bottom: 5px;
    }

    ul {
        margin-bottom: 25px;
    }
}